/* FONT */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600&display=swap");

/* RESET */
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
main {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box !important;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
form,
article,
aside,
details,
figcaption,
main,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div,
a {
  display: flex;
  flex-direction: column;
}
body {
  position: relative;
  font-family: "Montserrat";
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 2;
}

/* MENSAGEM */
.msg {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100%;
  z-index: 2;
}

.msg p {
  width: 100%;
  max-height: 50px;
  color: #fff;
  text-align: center;
  transform: translateY(-50px);
  padding: 10px 25px;
}

.msg p.ativo {
  transform: translateY(0px) !important;
  animation: email 5s ease;
}

@keyframes email {
  0% {
    transform: translateY(0px);
  }
  5% {
    transform: translateY(-50px);
  }
  95% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.msg p.sucesso {
  background: #489b51;
}

.msg p.erro {
  background: #9b4848;
}

/* BTN-FLOAT */
.btn-float {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 100%;
  top: 100%;
  background: #4fce5d;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transform: translate(-100%, -100%);
  margin: -50px 0 0 -50px;
  z-index: 3;
}

.btn-float i {
  color: #fff;
  font-size: 30px;
}

/* MODAL */
.container-modal {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal {
  width: 500px;
  background: #fff;
  overflow: hidden;
  overflow-y: auto;
  margin: 50px 0;
}

.modal > .info,
.modal > .header {
  width: 100%;
  padding: 25px;
}

/* info */
.modal .info h3 {
  color: #af2828;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.modal .info p strong {
  color: #af2828;
  font-weight: 500;
}

/* NAV */
.btn-menu {
  display: none !important;
  position: fixed;
  top: 5%;
  left: 5%;
  color: #af2828;
  background: #fff;
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 5px 25px;
  z-index: 2;
}

.menu {
  width: 250px;
  height: 100vh;
  position: fixed;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  overflow-y: auto;
  transform: translateX(-250px);
  transition: 0.3s all cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 2;
}

.menuIn {
  transform: translateX(0) !important;
}

/* header */
.menu .header {
  width: 100%;
  height: 175px;
  align-items: center;
  background: url(../img/bg-nav.jpg);
  background-size: cover;
  padding: 25px;
}

.menu .header .info {
  width: 100%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  margin-top: 15px;
}

.menu .header .info .nome {
  font-size: 2rem;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu .header .info .email {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* guia */
.menu .guia {
  width: 100%;
  padding: 25px;
}

.menu .aba {
  width: 100%;
  height: 30px;
  flex-direction: row;
  align-items: center;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  margin: 5px 0 25px 0;
  transition: 0.1s all;
}

.aba-ativa {
  color: #ef463ade !important;
}

.menu .aba > i {
  font-size: 24px;
  margin-right: 25px;
}

/* CONTAINER */
.container {
  width: 100%;
  padding: 25px;
}

/* FORMULARIOS */
.campo {
  width: 100%;
  margin: 20px 5px;
}

.campo:nth-child(odd) {
  margin-left: 0;
}

/* geral */
.campo input,
.campo textarea {
  width: 100%;
  font-family: "Montserrat";
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  outline: none;
  box-sizing: border-box;
  padding: 15px 15px;
  transition: 0.3s all;
}

.campo input:disabled,
.campo textarea:disabled {
  background: #eee;
}

/* textarea */
.campo textarea {
  height: 100px;
}
/* submit */
input[type="submit"],
button {
  color: #fff;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
  background: #af2828;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  padding: 12px 45px;
  margin: 25px 0;
}

/* MEDIAS */
@media (max-width: 1000px) {
  /* NAV */
  .btn-menu {
    display: flex !important;
  }
}

@media (max-width: 500px) {
  /* BTN-FLOAT */
  .btn-float {
    margin: -25px 0 0 -25px;
  }
  /* MODAL */
  .modal {
    width: 300px;
  }
}
/* #af2828 */
/* #461921 */
/* #F75312 */
/* #F2747D */
